image/
__pycache__
**/build/
**/*.egg-info/
**/dist/
*.so

exp/*
!exp/default/
exp/default/*
!exp/default/result/
weights
data
*log*
outputs/
.vscode
.idea
*/.DS_Store
**/*.out
Dockerfile
inference_results/